*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(56, 53, 49);
}
section{
    color: white;
    background-color: var(--black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}
section h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 600;
}
img{
    width: 20%;
    border-radius: 15rem;
}
p{
    font-size: 20px;
}